input {
  padding: 7px;
  margin: 5px 0 5px 0;
  width: 40%;
}

form {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #29536E;
  text-align: center;
  padding: 20px;
  width: 60%;
  margin: auto;
  margin-top: 5em;
  padding: 5em;
}

button {
  padding: 15px;
  color: #fff;
  font-size: 15px;
  background-color: #287852;
  border: none;
}

label {
  color: #fff;
}